/*************************/
/* 1200px and below */
/* 1200/16=75em */
/*************************/

@media (max-width: 75em) {
  .hero {
    max-width: 100rem;
  }
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
  .gallery-item:last-child img {
    display: none;
  }
  html {
    font-size: 58.5%;
  }
}

/*************************/
/* 1200px and below */
/* 1150/16=71em */
/*************************/
@media (max-width: 71em) {
  html {
    font-size: 50%;
  }
  .how-it-work {
    max-width: 100rem;
    margin: 0 auto;
  }
  .how-it-work {
    max-width: 100rem;
    margin: 0 auto;
  }
  .price {
    max-width: 100rem;
    margin: 0 auto;
  }
  .nav-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 2.4;
    transition: all 0.4s;
    opacity: 0;
    z-index: 1;
  }
  .nav-state {
    display: block;
  }
  .nav-open .nav-list {
    opacity: 1;
  }

  .nav-open .close-menu {
    display: block;
  }
  .close-menu {
    display: none;
  }
  .nav-open .open-menu {
    display: none;
  }

  .nav-link:link,
  .nav-link:visited {
    font-size: 3rem;
  }
}

/*************************/
/* 1200px and below */
/* 767/16=48em */
/*************************/
@media (max-width: 48em) {
  .hero {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .delivered-box {
    justify-content: center;
  }
  .hero-img {
    width: 70%;
  }
  .featured-logos img {
    height: 3.2rem;
  }
  .meals-list {
    gap: 1.2rem;
  }
  .cta {
    grid-template-columns: 3fr 2fr;
    max-width: 90rem;
  }
  form {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  form input,
  form select {
    flex-basis: 100%;
  }
  .price-plan {
    width: 80%;
  }
  .features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 4.8rem;
  }
  .meals {
    grid-template-columns: repeat(2, 1fr);
  }
  .meal {
    width: 100%;
    margin: 0 auto 3rem auto;
  }
  .meal-content {
    padding: 1.2rem 3.2rem 2.2rem 3.2rem;
  }
  .list {
    grid-column: 1 / -1;
    justify-self: center;
  }
  .testimonial-gallery {
    grid-template-columns: 1fr;
  }
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
  .section-footer {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 3rem;
  }
  .footer-logo {
    grid-row: 2;
  }
  .cta {
    grid-template-columns: 1fr 1fr;
  }
  .section-cta {
    padding: 6rem 3rem;
  }
  .image-box {
    background-position: center;
  }
}

/*************************/
/* 500px and below */
/* 500/16=31em */
/*************************/

@media (max-width: 31em) {
  .featured-logos img {
    height: 2.8rem;
  }

  .container {
    grid-template-columns: repeat(1, 1fr);
  }

  .step-image-box:nth-child(2) {
    grid-row: 1;
  }
  .step-image-box:nth-child(6) {
    grid-row: 5;
  }
  .step-image-box {
    transform: translateY(5rem);
  }

  .meals {
    grid-template-columns: repeat(1, 1fr);
    width: 70%;
  }
  .testimonials {
    grid-template-columns: 1fr;
    row-gap: 3rem;
    align-content: center;
  }
  .testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 2rem;
  }
  .price-plans {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 3rem;
    justify-items: center;
    width: 75%;
  }
  .plan-1 {
    justify-self: center;
  }
  .plan-2::after {
    top: 7%;
    right: -16%;
  }
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
  .gallery-item:last-child img {
    display: block;
  }
  .cta {
    grid-template-columns: 1fr;
  }
  .image-box {
    grid-row: 1;
    height: 30rem;
  }
}
